**/bin/
**/obj/
*.user
*.suo
bicep/*.json

# Added by Rayfin CLI
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.tsbuildinfo
.vite
coverage
*.local
rayfin/.env*
rayfin/.deployments.json
rayfin/.temp/
.idea
.DS_Store
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
